* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #003366;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav li {
    display: inline;
    margin: 0 15px;
}

li:first-child {
    font-weight: bold;
}

#hero {
    background-color: #e6f2ff;
    padding: 50px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: black;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.course {
    width: 250px;
    border: 2px solid #007acc;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    background-color: white;
    transition: 0.3s;
}

.course > h3 {
    color: #003366;
}

h3 + p {
    color: #555;
}

.course:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px gray;
}

.testimonials {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
}
