* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    flex: 1;
}

.product-card {
    width: 200px;
    padding: 15px;
    margin: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px gray;
    text-align: center;
    transition: 0.3s;
    background-color: white;
}

.product-card img {
    width: 100%;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #007acc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

#cart {
    width: 200px;
    padding: 20px;
    background-color: #e6f2ff;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
