body {
    background-color: #f0f8ff;
    font-family: Arial;
    margin: 0;
}

h1, h2, h3 {
    color: #007acc;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007acc;
}

.banner {
    padding: 40px;
    text-align: center;
}

.services {
    padding: 30px;
}

.services p {
    color: #333;
}

.service-card {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border: 2px solid #007acc;
    border-radius: 10px;
    box-sizing: border-box;
}

#contact {
    padding: 30px;
    background-color: white;
}

input[type="text"] {
    border: 2px solid #007acc;
    padding: 8px;
}

button {
    padding: 10px 15px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: black;
}

footer {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 15px;
}
