* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #003366;
    color: white;
    padding: 20px;
}

ul {
    list-style: none;
}

.sidebar li {
    margin: 10px 0;
}

.main {
    flex: 1;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #003366;
}

.summary {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    padding: 20px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 200px;
}

.credit {
    color: green;
}

.debit {
    color: red;
}

table td {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #ccc;
}

tr:hover {
    background-color: #f1f1f1;
}

#login {
    background-color: #e6f2ff;
    padding: 20px;
    border-radius: 10px;
}

input[type="password"] {
    border: 2px solid #003366;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: black;
}

footer {
    margin-top: 20px;
    text-align: center;
}
